@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Shrikhand&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Header Component */
.headerContainer {
  display: flex;
  height: 6rem;
  background-color: #052622;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.headerName {
  padding: 30px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1.3px;
  font-size: 20px;
  color: #fff;
}

/* Nav Links Component */
.headerNav {
  padding: 25px;
  padding-right: 40px;
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.navLink {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* OffCanvasMenu Component */

.burgerBar {
  height: 30px;
  padding-right: 20px;
}

.offCanvasMenuComponent {
  max-width: 250px;
  background-image: url("/images/Flower-background-vertical.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4b6c53;
  color: #fff;
}

.offCanvasTitle {
  font-family: "Shrikhand", cursive;
  font-size: 35px;
  letter-spacing: 1.3px;
}

.offcanvasMenuList {
  display: flex;
  flex-direction: column;
}

.navLinkCanvas {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* Welcome Header Component */

.welcomeHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
}

.welcomeImageBlock {
  display: flex;
  width: 50%;
}

.welcomeImage {
  max-width: 50%;
  max-height: 90vh;
}

.welcomeTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  width: 50%;
  background-color: #0e3e30;
  color: #fff;
}

.welcomeTextBlock h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  letter-spacing: 1.3px;
  font-size: 55px;
}

.welcomeTextBlock h3 {
  font-weight: 900;
  font-style: italic;
  padding-bottom: 20px;
}

.welcomeTextBlock p {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.learnMore {
  text-decoration: none;
  padding: 10px;
  color: #052622;
  box-shadow: 4px 4px #fff;
  border-radius: 10px;
  border-color: #fff;
  background-color: #c3c3ae;
}

.welcomeHeaderSpacer {
  height: 150px;
}

@media only screen and (max-width: 850px) {
  .welcomeHeader {
    height: 800px;
  }
  .welcomeImage {
    max-width: 100%;
    min-height: 800px;
  }
  .welcomeTextBlock {
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    padding-top: 80px;
  }
}

/* About Component */
.aboutContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95vh;
  background-color: #4b6c53;
}

.aboutImageBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.aboutImage {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  align-self: center;
  box-shadow: 4px 4px 2px 1px #0e3e30;
}

.aboutTextBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 50%;
}

.aboutMeSpacer {
  height: 100px;
}

.aboutTextBlock h2 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  letter-spacing: 1.3px;
  font-size: 45px;
}

.aboutTextBlock p {
  text-align: center;
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 979.99px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .aboutTextBlock {
    width: 100%;
  }
  .aboutImageBlock {
    width: 100%;
    padding-bottom: 30px;
  }
  .aboutImage {
    max-width: 350px;
    max-height: 500px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1400px) {
  .aboutContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .aboutImageBlock {
    display: flex;
    width: 50%;
    padding-left: 25px;
    justify-content: center;
  }
  .aboutImage {
    max-width: 500px;
    max-height: 600px;
  }
}

/* Projects Component */
.projectsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0e3e30;
  color: #fff;
}

.slideshowContainer {
  width: 1200px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  justify-content: center;
  align-items: center;
}

.projectsHeader {
  font-family: "Shrikhand", cursive;
  text-align: center;
  letter-spacing: 1.3px;
  font-size: 45px;
}

.slideImage {
  -o-object-fit: contain;
     object-fit: contain;
  justify-content: center;
  align-items: center;
}

.projectsSpacer {
  height: 100px;
}

div.swiper-button-next, div.swiper-button-prev {
  color: #09451a;
}

@media only screen and (max-width: 979.99px) {
  .projectsContainer {
    display: flex;
    flex-direction: column;
  }
  .slideshowContainer {
    width: 300px;
  }
  .slideImage {
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 300px;
  }
  div.swiper-button-prev {
    display: none;
  }
  div.swiper-button-next {
    display: none;
  }
}
.whyCompanyContainer {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  background-color: #4b6c53;
  flex-direction: column;
  padding: 80px;
}

.whyCompanyContainer p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.whyContainerH2 {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1.3px;
  font-size: 45px;
}

.whyContainerH4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 26px;
}

.pointContainer {
  background-color: #c3c3ae;
  color: #052622;
  padding: 15px;
}

.pointContainerSpacer {
  height: 30px;
}

@media only screen and (max-width: 869px) {
  .whyCompanyContainer {
    padding: 40px;
  }
}

/* Why Me Component  */
.whyMeContainer {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  flex-direction: column;
  height: fit-content;
  background-color: #0e3e30;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.whyMeHeader {
  display: flex;
  flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.whyMeHeaderColourBlock {
  height: 100px;
  width: 45%;
  background-color: #6a8f5f;
}

.whyMeHeaderTextBlock {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1.3px;
  font-size: 45px;
  padding-top: 15px;
  padding-left: 25px;
}

.whyMeSpacer {
  height: 50px;
}

.whyMePointsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.whyMePointsContainerSpacer {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 869px) {
  .whyMePointsContainer {
    flex-direction: column;
  }
  .whyMeHeaderColourBlock {
    width: 35%;
  }
}

/* Card Component  */
.cardContainer {
  border-color: #052622;
  background-color: #052622;
  background-image: url("/images/Flower-background-updated.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  padding: 10px;
  height: 350px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.cardBodyContainer {
  color: #fff;
}

.cardTitle {
  font-size: 23px;
  font-weight: 700;
  padding-top: 15px;
}

.cardText {
  font-size: 18px;
}

@media only screen and (max-width: 1290px) {
  .cardContainer {
    height: fit-content;
  }
}

@media only screen and (max-width: 1000px) {
  .cardContainer {
    width: 100%;
  }
}

/* Skills Component  */
.skillsContainer {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4b6c53;
  padding: 50px;
  background-image: url("/images/Flower-background.png");
  background-size: contain;
}

.skillsContainer h2 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  letter-spacing: 1.3px;
  font-size: 45px;
}

.skillsContainer p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
}

.skillIcon {
  height: 50px;
  width: 50px;
  padding: 5px;
}

/* Footer Component  */

.footerContainer {
  display: flex;
  height: 100px;
  flex-direction: row;
  background-color: #052622;
  justify-content: center;
  padding-top: 20px;
}

.footerIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footerIcons {
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.footerCopyrightContainer {
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.footerCopyrightContainer p {
  font-size: 14px;
}/*# sourceMappingURL=page.module.css.map */