@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Shrikhand&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
// @import url('/styles/fonts.css');


// @font-face {
//   font-family: 'Shrikhand';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/shrikhand/v12/a8IbNovtLWfR7T7bMJwrDYKR8Ttcte1q.woff2) format('woff2');
//   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }

// @font-face {
//   font-family: 'Shrikhand';
//   // font-style: normal;
//   // font-weight: 400;
//   // font-display: swap;
//   src: url("/public/fonts/Shrikhand-Regular.ttf");
// }

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url("/public/fonts/Montserrat-VariableFont_wght.ttf") format('ttf');
// }

$headerFont: 'Shrikhand', cursive;
// $headerFont: 'Shrikhand';

$paragraphFont: 'Montserrat', sans-serif;
$darkestGreen: #052622;
$darkGreen: #0e3e30;
$forestGreen: #09451a;
$mediumGreen: #37594a;
$sageGreen: #4b6c53;
$lightGreen: #6a8f5f;
$lightBeige: #c3c3ae;
$mediumBeige: #acac93;
$white: #fff;



//Header Styling
.headerContainer {
  display: flex;
  height: 6rem;
  background-color: $darkestGreen;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.headerName {
  padding: 30px;
  font-family: $headerFont;
  letter-spacing: 1.3px;
  font-size: 20px;
  color: $white;
}

.headerNav {
  padding: 25px;
  padding-right: 40px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $white;
}

.navLink {
  padding: 10px;
  color: $white;
  text-decoration: none;
}

.navLinkCanvas {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.offCanvasMenu {
  max-width: 250px;
}

.offcanvasMenuList {
  display: flex;
  flex-direction: column;
}

.burgerBar {
  height: 30px;
  padding-right: 10px;
}

//OffCanvas Menu Styling

.offCanvasMenu {
  max-width: 250px;
  background-image: url("/images/Flower-background-vertical.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $sageGreen;
  color: $white;
}

.offcanvasMenuList {
  display: flex;
  flex-direction: column;
}

.burgerBar {
  height: 30px;
  padding-right: 10px;
}

.offCanvasTitle {
  font-family: $headerFont;
  font-size: 35px;
  letter-spacing: 1.3px;
}

.navLinkCanvas {
  padding: 10px;
  color: $white;
  text-decoration: none;
  font-family: $paragraphFont;
  font-size: 18px;
}