@import '../src/app/page.module.scss';

.footerContainer {
  display: flex;
  height: 100px;
  flex-direction: row;
  background-color: $darkestGreen;
  justify-content: center;
  padding-top: 20px;

}
.footerIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footerIcons {
  color: $white;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.footerCopyrightContainer {
  display: flex;
  flex-direction: row;
  color: $white;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.copyrightText {
  font-size: 14px;
}