@import '../src/app/page.module.scss';

.headerContainer {
  display: flex;
  height: 6rem;
  background-color: $darkestGreen;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.headerName {
  padding: 30px;
  font-family: $headerFont;
  letter-spacing: 1.3px;
  font-size: 20px;
  color: $white;
}

.headerNav {
  padding: 25px;
  padding-right: 40px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $white;
}

.navLink {
  padding: 10px;
  color: $white;
  text-decoration: none;
}

.navLinkCanvas {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.offCanvasMenu {
  max-width: 250px;
}

.offcanvasMenuList {
  display: flex;
  flex-direction: column;
}

.burgerBar {
  height: 30px;
  padding-right: 10px;
}