@import '../src/app/page.module.scss';

.whyMeContainer {
  display: flex;
  height: fit-content;
  color: $white;
  flex-direction: column;
  height: fit-content;
  background-color: $darkGreen;
  padding: 20px;
}

.whyMeHeader {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.whyMeHeaderColourBlock {
  height: 100px;
  width: 35%;
  background-color: $lightGreen;
}

.whyMeHeaderTextBlock {
  font-family: $headerFont;
  letter-spacing: 1.3px;
  font-size: 45px;
  padding-top: 15px;
  padding-left: 25px;
}

.whyMeSpacer {
  height: 25px;
}

.whyMePointsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.whyMePointsContainerSpacer {
  width: 25px;
}